@model List<NEMESYS.Areas.Identity.Pages.HallOfFame.Models.ReporterRanking>

@{
    ViewData["Title"] = "Reporter Hall of Fame";
}

<h2>Reporter Hall of Fame</h2>

<table class="table">
    <thead>
        <tr>
            <th>Reporter Name</th>
            <th>Reports Made</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ReporterName</td>
                <td>@item.ReportCount</td>
            </tr>
        }
    </tbody>
</table>
